#board {
  background: black;
  color: yellowgreen;
  font-family: "Familiada";
  overflow: hidden; }
  #board #intro-logo {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #board #board-game {
    display: none; }
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Familiada";
  src: url("/src/assets/fonts/Familiada/familiada.eot");
  src: url("/src/assets/fonts/Familiada/familiada.woff") format("woff"), url("/src/assets/fonts/Familiada/familiada.ttf") format("truetype"), url("/src/assets/fonts/Familiada/familiada.svg#Familiada") format("svg");
  font-weight: normal;
  font-style: normal; }
