/* @font-face kit by Fonts2u (http://www.fonts2u.com) */

@font-face {
    font-family: "Familiada";
    src: url("/src/assets/fonts/Familiada/familiada.eot");
    src: url("/src/assets/fonts/Familiada/familiada.woff") format("woff"),
         url("/src/assets/fonts/Familiada/familiada.ttf") format("truetype"),
         url("/src/assets/fonts/Familiada/familiada.svg#Familiada") format("svg");
    font-weight: normal;
    font-style: normal;
}