#board {
    background: black;
    color: yellowgreen;
    font-family: "Familiada";
    overflow: hidden;

    #intro-logo {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #board-game {
        display: none;
    }
}
